<div class="container px-5 px-sm-0">
  <div><%= flash[:notice] %></div>
  <div class="row">
    <div class="col-md-3">
      <% if @user == current_user %>
        <%= render 'user_info', user: current_user %>
        <div class="row">
          <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary btn-block edit_user" do %>
            <i class="fa-solid fa-user-gear"></i>
          <% end %>
        </div>
      <% else %>
        <%= render 'user_info', user: @user %>
        <div class="row">
          <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary btn-block edit_user" do %>
            <i class="fa-solid fa-user-gear"></i>
          <% end %>
        </div>
      <% end %>
      <%= render 'books/new_book', book: @book %>
    </div>
  <div class="col-md-8 offset-md-1">
    <%= render 'books/books_index', books: @books %>
  </div>
</div>